body { background-color: #EAF6F6; }

hr {
  border-style: none;
  border-top: 6px dotted #A3D2CA;
  width: 5%;
}

h1 { color: #056676; }

h3 { color: #5EAAA8; }

h4 { color: #5EAAA8; }

th { color: #66BFBF; }

a { color: #FF7E67; }
